@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-pixel: 'Silkscreen';

  --color-primary-500: oklch(0.75 0.15 125);
  --color-primary-600: oklch(0.65 0.15 125);
  --color-primary-700: oklch(0.50 0.10 125);
  --color-primary-800: oklch(0.35 0.05 125);
  --color-secondary-500: oklch(0.75 0.15 310);
  --color-secondary-600: oklch(0.65 0.15 310);
  --color-secondary-700: oklch(0.50 0.10 310);
  --color-secondary-800: oklch(0.35 0.05 310);
  --color-severe-400: oklch(0.75 0.15 25);
  --color-severe-500: oklch(0.65 0.2 25);
  --color-severe-600: oklch(0.65 0.15 25);
  --color-bg-500: oklch(0.30 0.03 310);
  --color-bg-600: oklch(0.25 0.03 310);
  --color-bg-700: oklch(0.10 0.03 310);
  --color-fg-500: oklch(0.95 0.01 125);
  --color-fg-600: oklch(0.85 0.01 125);
  --color-fg-700: oklch(0.75 0.01 125);
  --color-max-stack: #d1fffd;

  --spacing-icon: calc(20 * var(--spacing));
  --spacing-icon-unit: calc(var(--spacing-icon) / 21);
  --spacing-icon-1: calc(var(--spacing-icon-unit) * 1);
  --spacing-icon-2: calc(var(--spacing-icon-unit) * 2);
  --spacing-icon-3: calc(var(--spacing-icon-unit) * 3);
  --spacing-icon-4: calc(var(--spacing-icon-unit) * 4);
  --text-icon: calc(var(--spacing-icon-unit) * 8);

  --spacing-heart: calc(11 * var(--spacing-icon-unit));
}

:root {
  overflow: hidden;
  background-color: var(--color-bg-500);
  scrollbar-color: #888 transparent;
}

body {
  font-family: var(--font-sans);
  color: var(--color-fg-500);
}

:root, body, #root {
  height: 100%;
}

input:focus {
  outline: none;
}

.pixelated {
  image-rendering: pixelated;
}

.justify-center-pseudo {
  justify-content: start;
  & > * {
    flex: none;
  }
  &::before, &::after {
    content: '';
    flex: 1;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-secondary-700);
  height: var(--spacing-icon-2);
  border-radius: 0;
  &::-webkit-slider-thumb {
    appearance: none;
    background: var(--color-fg-600);
    width: var(--spacing-icon-4);
    height: var(--spacing-icon-4);
    border-radius: 0;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    background: var(--color-fg-600);
    width: var(--spacing-icon-4);
    height: var(--spacing-icon-4);
    border-radius: 0;
    cursor: pointer;
  }
  &:hover::-webkit-slider-thumb {
    background: var(--color-fg-500);
  }
  &:hover::-moz-range-thumb {
    background: var(--color-fg-500);
  }
}